<% provide(:title, '食材一覧') %>
<div class="title">
  <h1>食材一覧</h1>
</div>
<div class="index-wrapper">
  <table class="indexTable">
    <tr class="thead">
      <th class="name-cal">食材名</th>
      <th class="price-cal">単価</th>
    　<th class="quantity-cal">数量</th>
    　<th class="date-cal">購入年月日</th>
    </tr>
    <% @food_stocks.each do |food| %>
  　　<tr>
        <td><%= food.name %></td>
        <td><%= food.price %></td>
        <td><%= food.stock_quantity %></td>
        <td><%= food.order_date %></td>
  　　  </tr>
    <% end %>
  </table>
</div>
<div class="back-btn">
  <%= link_to current_user do %>
  　<btn>戻る</btn>
　<% end %>
</div>