<% provide(:title, '食材登録') %>
<div class="food-wrapper">
  <h1>食材登録</h1>
  <%= form_with model: [@user, @foodstock] do |f| %>
  <table class="formTable">
    <form>
    <tr>
      <div class="form-item">
        <th>食材名</th>
        <td>
          <%= f.text_field :name, size: 70 %>
        </td>
      </div>
    </tr>
    <tr>
      <div class="form-item">
        <th>単価</th>
        <td>
          <%= f.number_field :price, min: 1 %> 円
        </td>
      </div>
    </tr>
     <tr>
      <div class="form-item">
        <th><%= f.label :購入数 %></th>
        <td>
          <%= f.number_field :quantity, min: 1 %> 個
        </td>
      </div>
    </tr>
    <tr>
      <th><%= f.label :購入年月日 %></th>
      <td>
        <%= f.date_select :order_date, use_month_numbers: true %>
      </td>
    </tr>
    </form>
  </table>
  <div class="button-panel2">
    <%= f.submit "登録", class: "button" %>
  </div>
  <% end %>
</div>