<% provide(:title, '消費食材履歴') %>
<div class="title">
  <h1>消費食材履歴</h1>
</div>
<div class="index-wrapper">
  <table class="indexTable">
    <tr class="thead">
    　<th class="date-cal">消費年月日</th>
      <th class="name-cal">食材名</th>
      <th class="price-cal">単価</th>
    　<th class="quantity-cal">数量</th>
    　<th class="name-cal">メモ</th>
    　<th scope="col"></th>
    　<th scope="col"></th>
    </tr>
    <% @food_consumes.each do |food| %>
      <% food_stock = FoodStock.find(food.food_stock_id) %>
  　　<tr>
        <td><%= "#{food.start_time.year}年#{food.start_time.month}月#{food.start_time.day}日" %></td>
        <td><%= food_stock.name %></td>
        <td><%= food_stock.price %></td>
        <td><%= food.consume_quantity %></td>
        <td><%= food.note %></td>
        <td class="text-nowrap">
          <%= link_to "更新", edit_user_food_consume_path(id:food.id) %>
        </td>
        <td class="text-nowrap">
        <% if current_user?(food.user) %>
          <%= link_to "削除", user_food_consume_path(id:food.id), data: { "turbo-method": :delete, turbo_confirm: "You sure?" } %>
        <% end %>
        </td>
  　　  </tr>
    <% end %>
  </table>
</div>
<div class="paginate">
  <%= paginate @food_consumes %>
</div>
<div class="back-btn">
  <%= link_to "戻る", current_user %>
</div>
