<% provide(:title, '食材を使う') %>
<div class="title">
  <h1>食材を使う</h1>
</div>
<div class="form-wrapper2">
  <%= form_with model: [@user, @food_consume] do |f| %>
  <table class="formTable">
    <form>
    <tr>
      <th>消費年月日</th>
      <td>
        <%= f.datetime_field :start_time, value: Time.current.strftime('%Y-%m-%dT00:00:00') %>
      </td>
    </tr>
    <tr>
      <div class="form-item">
        <th>食材名</th>
        <td>
          <%= f.collection_select(:food_stock_id, FoodStock.where("user_id = ? and stock_quantity != ?", params[:user_id], 0 ),
          :id, :view_name_and_date, {prompt: "選択してください"}, {class: 'ChoseTemplate', :onchange => "changeTemplate($(this).val())"}) %>
        </td>
      </div>
    </tr>
    <tr>
      <div class="form-item">
        <th>単価</th>
        <td>
          <%= f.label :食材名を選択すると自動入力されます, id: "price" %>
        </td>
      </div>
    </tr>
    <tr>
      <div class="form-item">
        <th>消費数</th>
        <td>
          <%= f.number_field :consume_quantity, id: "consume_quantity", min: 0.1, step: "0.1" %> 個
        </td>
      </div>
    </tr>
　　<tr>
      <th>メモ</th>
      <td>
        <%= f.text_field :note, size: 70 %>
      </td>
    </tr>
    </form>
  </table>
  <div class="btn-panel2">
    <%= f.submit "登録", class: "btn" %>
  </div>
  <% end %>
</div>
<div class="back-btn">
  <%= link_to "戻る", current_user %>
</div>
<script>
  function changeTemplate(val){
    var template_id = val;

    $.ajax({
      url: "/templates/get_body",
      type: "GET",
      data: {
        template_id: template_id
      }
    })
  }
</script>
