<% provide(:title, '食材を使う') %>
<div class="food-wrapper">
  <h1>食材を使う</h1>
  <%= form_with model: [@user, @food_consume] do |f| %>
  <table class="formTable">
    <form>
    <tr>
      <div class="form-item">
        <th><%= f.label :食材名 %></th>
        <td>
          <%= f.collection_select(:name, @foods, :id, :name) %>
        </td>
      </div>
    </tr>
    <tr>
      <div class="form-item">
        <th><%= f.label :単価 %></th>
        <td>
          <%= f.number_field :price, min: 1 %> 円
        </td>
      </div>
    </tr>
    <tr>
      <div class="form-item">
        <th><%= f.label :消費数 %></th>
        <td>
          <%= f.number_field :consume_quantity, min: 1 %> 個
        </td>
      </div>
    </tr>
    <tr>
      <th><%= f.label :消費年月日 %></th>
      <td>
        <%= f.date_select :consume_date, use_month_numbers: true %>
      </td>
    </tr>
    </form>
  </table>
  <div class="button-panel2">
    <%= f.submit "登録", class: "button" %>
  </div>
  <% end %>
</div>