<% provide(:title, '食材を使う') %>
<div class="food-wrapper">
  <h1>食材を使う</h1>
  <%= form_with model: [@user, @food_consume] do |f| %>
  <table class="formTable">
    <form>
    <tr>
      <div class="form-item">
        <th><%= f.label :食材名 %></th>
        <td>
          <%= f.collection_select(:name, FoodStock.all, :id, :view_name_and_date,
          {prompt: "選択してください"}, {class: 'ChoseTemplate', :onchange => "changeTemplate($(this).val())"}) %>
        </td>
      </div>
    </tr>
    <tr>
      <div class="form-item">
        <th><%= f.label :単価 %></th>
        <td>
          <%= f.number_field :price, id: "price", min: 1  %> 円
        </td>
      </div>
    </tr>
    <tr>
      <div class="form-item">
        <th><%= f.label :消費数 %></th>
        <td>
          <%= f.number_field :consume_quantity, id: "consume_quantity", min: 0.1, step: "0.1" %> 個
        </td>
      </div>
    </tr>
    <tr>
      <th><%= f.label :消費年月日 %></th>
      <td>
        <%= f.datetime_field :start_time, value: Time.current.strftime('%Y-%m-%dT00:00:00') %>
      </td>
    </tr>
　　<tr>
      <th><%= f.label :メモ %></th>
      <td>
        <%= f.text_field :note, size: 70 %>
      </td>
    </tr>
    </form>
  </table>
  <div class="button-panel2">
    <%= f.submit "登録", class: "button" %>
  </div>
  <% end %>
</div>
<script>
  function changeTemplate(val){
    var template_id = val;

    $.ajax({
      url: "/templates/get_body",
      type: "GET",
      data: {
        template_id: template_id
      }
    })
  }
</script>
