<% provide(:title, 'ユーザ登録') %>
<div class="form-wrapper">
  <h1>ユーザ登録</h1>
  <%= form_with(model: @user) do |f| %>
    <%= render 'shared/error_messages' %>
    <form>
      <div class="form-item">
        <%= f.text_field :name, :placeholder => "ユーザ名" %>
      </div>
      <div class="form-item">
        <%= f.text_field :email, :placeholder => "Eメール" %>
      </div>
      <div class="form-item">
        <%= f.password_field :password, :placeholder => "パスワード" %>
      </div>
      <div class="form-item">
        <%= f.password_field :password_confirmation, :placeholder => "確認用パスワード" %>
      </div>
      <div class="btn-panel">
        <%= f.submit "登録", class: "btn" %>
      </div>
    </form>
    <div class="form-footer">
    </div>
  <% end %>
</div>