<% provide(:title, '食材登録') %>
<div class="box_con">
  <h1>食材登録</h1>
  <%= form_with(model: @food) do |f| %>
  <table class="formTable">
    <form>
    <tr>
      <th><%= f.label :食材名 %></th>
      <td>
      　 <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <div class="form-item">
        <th><%= f.label :単価 %></th>
      <td>
        <%= f.number_field :price %>円
      <td>
    </tr>
    <tr>
      <div class="form-itm">
        <th><%= f.label :購入数 %></th>
        <td>
          <%= f.number_field :quantity %> 個
        </td>
      </div>
    </tr>
    <tr>
      <th><%= f.label :購入日 %></th>
      <td>
        <%= f.date_select :order_date %>
      </td>
    </tr>
    </form>
  </table>
  <div class="button-panel">
    <%= f.submit "登録", class: "button" %>
  </div>
  <% end %>
</div>