<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "FRIDGEM", root_path, id: "logo" %>
    <nav>
      <div class="navbar-header">
        <button id="hamburger" type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul id="navbar-menu"
          class="nav navbar-nav navbar-right collapse navbar-collapse">
        <% if logged_in? %>
          <li><%= link_to "Home", current_user, id: "logo2" %></li>
          <li class="dropdown">
            <a href="#" id="account" class="dropdown-toggle">
              アカウント <b class="caret"></b>
            </a>
            <ul id="dropdown-menu" class="dropdown-menu">
              <li><%= link_to "食材を登録する", new_user_food_stock_path(current_user.id) %></li>
              <li><%= link_to "食材を使う", new_user_food_consume_path(current_user.id) %></li>
              <li><%= link_to "在庫食材一覧", user_food_stocks_path(current_user.id) %></li>
              <li><%= link_to "食費カレンダー", user_calender_path(current_user.id) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path,
                                       data: { "turbo-method": :delete } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Home", root_path, id: "logo2" %></li>
          <li><%= link_to "ユーザ登録", signup_path, id: "logo2" %></li>
          <li><%= link_to "ログイン", login_path, id: "logo2" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>