<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <%= link_to "FRIDGEM", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path, id: "logo2" %></li>
            <li><%= link_to "ユーザ登録", signup_path, id: "logo2" %></li>
            <li><%= link_to "ログイン", '#', id: "logo2" %></li>
          </ul>
        </nav>
      </div>
    </header>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
  </body>
</html>